
<header>
  <div class="container">
    <div class="row row-cols-auto justify-content-between align-items-center">      
      <div class="logo">
        Cars project
        {{ 'test' | translate }} 
        {{ 'HOME/NESTED.nestedvalue' | translate }} 
      </div>
      <div class="login-box">
        <button type="button" class="btn btn-primary">Вход</button>
        <button type="button" class="btn btn-primary ms-3">Регистрация</button>
      </div>
      <app-langguage-switcher></app-langguage-switcher>
    </div>
  </div>
</header>
